.about__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  
  .about__image {
    flex: 1;
    text-align: center;
    margin: 20px;
    height: 60vh;
  }
  
  .about__image img {
    max-width: 100%;
    width: 40vw;
    height: 70vh;
    border-radius: 10px;
  }
  
  .about__content {
    flex: 1;
    padding: 20px;
  }
  
  .section__subheader {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .section__header {
    font-size: 36px;
    color: #222;
    margin-bottom: 20px;
  }
  
  .section__description {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
  }
  
  .about__btn {
    margin-top: 20px;
  }
  
  .about__btn .btn {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .about__btn .btn:hover {
    background-color: #e68900;
  }