


.room__container {
  padding: 50px 0; 
}

.section__subheader {
  font-size: 24px;
  color: #333;
  
}

.section__header {
  font-size: 36px;
  color: #222;
  margin-bottom: 50px; 
}

.room__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.room__card {
  width: calc(33.33% - 20px); 
  margin-bottom: 30px; 
  background-color: #fff; 
  border: 1px solid #e0e0e0; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; 
}

.room__card:hover {
  transform: translateY(-5px);
}

.room__card__image {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.room__card__image img {
  width: 100%;
  height: auto;
  display: block;
}

.room__card__icons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.room__card__icons span {
  margin-left: 5px;
  color: #fff;
  background-color: #333;
  padding: 5px;
  border-radius: 50%;
}

.room__card__details {
  padding: 20px;
}

.room__card h4 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.room__card p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.room__card h5 {
  font-size: 18px;
  color: #f39c12;
  margin-bottom: 10px;
}

.room__card h5 span {
  font-weight: bold;
}

.btn {
  display: inline-block;
  background-color: #f39c12;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e08e0b;
  color: #fff;
}
 

